header {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 96px;
}

nav {
    width: 1120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #logo {
    display: flex;
    align-items: center;
}

header h2 {
    color: var(--white);
    margin-left: 12px;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

header #menu > :first-child {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

header #menu > :last-child {
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--primary);
    padding: 16px 24px;
    margin-left: 40px;
    border-radius: 24px;
}

main {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h5 {
    margin-top: 56px;
    color: var(--orange);
    background-color: var(--orange-low-opacity);
    text-transform: uppercase;
    padding: 12px 24px;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 24px;
}

main h1 {
    margin-top: 16px;
    font-family: "Outfit", sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    max-width: 736px;
}

main h1 .orange-gradient {
    background: -webkit-linear-gradient(45deg, #efdc59, #ff9410);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

main > p {
    margin-top: 16px;
    max-width: 496px;
    color: var(--grey);
    text-align: center;
    line-height: 150%;
}

main #btn-start-learning {
    margin-top: 32px;
    padding: 8px 10px 8px 32px;
    border-radius: 240px;
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    background: rgb(49, 203, 83);
    background: linear-gradient(-45deg, rgb(49, 203, 83) 0%, rgb(82, 233, 116) 100%);
}

main #btn-start-learning > :first-child {
    background-color: var(--white);
    padding: 10px;
    border-radius: 100%;
    margin-left: 16px;
}

/* Feature-Preview */

main #features {
    width: 1120px;
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 0px;
    margin-bottom: 64px;
}

main #features .feature-heading {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

main #features .feature-heading h6 {
    margin-left: 8px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

main #features .feature-container .feature-content {
    margin-top: 16px;
    border-radius: 24px;
    height: 200px;
}

/* Stats */

main #features #stats .feature-content {
    background: rgb(0, 0, 0);
    background: linear-gradient(-30deg, rgb(0, 0, 0) 0%, rgb(31, 31, 31) 100%);
}

/* Badges */

main #features #badges .feature-content {
    border: 0.5px solid #222021;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main #features #badges .feature-content #badges {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

main #features #badges .feature-content p {
    margin-top: 16px;
    color: var(--black);
    width: 80%;
    text-align: center;
    line-height: 150%;
}

/* License */

main #features #license .feature-content {
    background: var(--primary);
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main #features #license .feature-content #license-header {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

main #features #license .feature-content #license-logo {
    display: flex;
    align-items: center;
}

main #features #license .feature-content #license-logo img {
    width: 19px;
}

main #features #license .feature-content #license-logo p {
    margin-left: 8px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

main #features #license .feature-content #license-header > p {
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

main #features #license .feature-content #license-number {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

main #features #license .feature-content #license-number p {
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    font-weight: 400;
}

main #features #license .feature-content #license-footer {
    margin-top: 8px;
    background-color: var(--black);
    color: var(--white);
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    font-weight: 400;
    padding: 16px 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
