/* Use border-box box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Allow percentage-based heights in the application */
html,
body {
    height: 100vh;
}

/* Typographic tweaks, mprove text rendering */
body {
    font-family: "Roboto", sans-serif;
    /* line-height: 1.5; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    all: unset;
    cursor: pointer;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.hidden {
    display: none !important;
}

.blur {
    filter: blur(90px);
}

.noblur {
    filter: blur(0px);
    transition: filter 0.5s ease-in-out;
}

.tooltip {
    position: absolute;
    width: 240px;
    padding: 16px 10px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    color: var(--black);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    overflow: hidden;
    z-index: 100;
}

#toast-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    pointer-events: none;
}

.toast {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    text-align: center;

    margin-top: 16px;
    position: relative;
    min-width: 350px;
    padding: 24px 24px;
    border-radius: 24px;

    background: rgba(242, 73, 73, 0.9);
    box-shadow: 0 8px 32px 0 rgba(44, 44, 44, 0.17);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    animation-name: slideInDown, fadeOut;
    animation-duration: 0.5s, 0.4s;
    animation-delay: 0s, 4s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(), ease-in;
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(+100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
