/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--grey) var(--light-grey);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--light-grey);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 10px;
    border: none;
}

body {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "side header"
        "side main";
    background-color: var(--light-grey);
}

aside {
    /* grid-column: 1 / 2;
    grid-row: 1 / 3; */
    grid-area: side;
    /* width: 280px; */
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside #logo {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

aside #logo h2 {
    margin-left: 12px;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

aside nav {
    align-self: stretch;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 24px;
}

aside nav .nav-element {
    position: relative;
    display: flex;
    align-items: center;
}

aside nav .nav-element .nav-button {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    margin: 12px 20px;
    border-radius: 12px;
    flex: auto;
    transition: all 0.1s;
    cursor: pointer;
}

aside nav .nav-element.active .nav-button {
    background-color: rgb(245, 208, 25);
}

aside nav .nav-element .nav-button:hover {
    background-color: rgb(245, 208, 25);
}

aside nav .nav-element .nav-button:active {
    background-color: rgb(238, 200, 9);
}

aside nav .nav-element.active .active-indicator {
    background-color: var(--black);
    width: 5px;
    height: 26px;
    position: absolute;
    left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

aside nav .nav-element .nav-button h3 {
    margin-left: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

header {
    grid-area: header;
    background-color: var(--white);
    border-bottom: 1px solid rgb(228, 228, 228);
}

header #profile-info {
    display: flex;
    align-items: center;
    padding: 18px 64px;
}

header #profile-info img {
    border-radius: 100%;
}

header #profile-info #profile-name {
    margin-left: 16px;
}

header #profile-info #profile-name p:first-child {
    color: var(--grey);
    font-size: 14px;
}

header #profile-info #profile-name p:last-child {
    font-size: 20px;
    font-weight: 700;
    margin-top: 4px;
}

main {
    /* flex: auto; */
    grid-area: main;
    background-color: var(--light-grey);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-auto-rows: minmax(min-content, max-content);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 40px 64px;
    overflow: auto;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.div2 {
    grid-area: 1 / 2 / 2 / 4;
}
.div3 {
    grid-area: 2 / 1 / 3 / 3;
}
.div4 {
    grid-area: 2 / 3 / 3 / 4;
}

.widget {
    background-color: var(--white);
    border-radius: 24px;
    padding: 24px;
}

.widget .header {
    display: flex;
    align-items: center;
}

.widget .header h1 {
    color: var(--grey);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.widget#total-progress .header {
    justify-content: space-between;
}

.widget#total-progress h2 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 12px;
}

.widget#total-progress .progress {
    margin-top: 16px;
    background-color: var(--black);
    height: 12px;
    border-radius: 40px;
    left: 1px;
    position: relative;
}

.widget#total-progress .progress .bar {
    width: 30%;
    background-color: var(--primary);
    height: 100%;
    border-radius: inherit;
    position: absolute;
    left: -1px;
}

.widget#total-progress p:first-of-type {
    margin-top: 16px;
}

.widget#total-progress p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 8px;
    color: var(--grey);
}

.widget#total-progress p span {
    font-weight: 700;
    color: var(--black);
}

.widget#badges .header h1 {
    margin-left: 8px;
}

.widget#badges #user-badges {
    display: flex;
    margin-top: 12px;
}

.widget#badges .badge {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 8px;
    border-radius: 16px;
    flex-basis: 0;
    flex-grow: 1;
}

.widget#badges .badge:not(:first-of-type) {
    margin-left: 24px;
}

.widget#badges .badge img {
    width: 80px;
}

.widget#badges .badge h3 {
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    color: var(--grey);
    text-align: center;
}

.widget#completed-trainings .header h1 {
    margin-left: 8px;
}

.widget#completed-trainings #training-table-header {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.widget#completed-trainings #training-table-header h2 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    flex-grow: 1;
    flex-basis: 0;
}

.widget#completed-trainings #training-table-container {
    margin-top: 24px;
}

.widget#completed-trainings .training {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-grey);
    padding: 20px;
    border-radius: 16px;
}

.widget#completed-trainings .training.perfect {
    outline: 1px solid var(--secondary);
}

.widget#completed-trainings .training:not(:first-child) {
    margin-top: 12px;
}

.widget#completed-trainings .training p {
    flex-grow: 1;
    flex-basis: 0;
    font-weight: 500;
    color: var(--grey);
}

.widget#completed-trainings .training p:first-of-type {
    color: var(--black);
}

.widget#category-stats .header {
    justify-content: space-between;
}

.widget #category-progress-container {
    margin-top: 28px;
}

.widget .category-progress:not(:first-of-type) {
    margin-top: 24px;
}

.widget .category-progress h2 {
    font-size: 14px;
    font-weight: 500;
}

.widget .category-progress .progress {
    margin-top: 8px;
    background-color: var(--light-grey);
    height: 12px;
    border-radius: 40px;
    left: 1px;
    position: relative;
}

.widget .category-progress .progress .bar {
    width: 30%;
    background-color: var(--primary);
    height: 100%;
    border-radius: inherit;
    position: absolute;
    left: -1px;
}
