/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--grey) var(--light-grey);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--light-grey);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 10px;
    border: none;
}

body {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "side header"
        "side main";
    background-color: var(--light-grey);
}

aside {
    /* grid-column: 1 / 2;
    grid-row: 1 / 3; */
    grid-area: side;
    /* width: 280px; */
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside #logo {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

aside #logo h2 {
    margin-left: 12px;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

aside nav {
    align-self: stretch;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 24px;
}

aside nav .nav-element {
    position: relative;
    display: flex;
    align-items: center;
}

aside nav .nav-element .nav-button {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    margin: 12px 20px;
    border-radius: 12px;
    flex: auto;
    transition: all 0.1s;
    cursor: pointer;
}

aside nav .nav-element.active .nav-button {
    background-color: rgb(245, 208, 25);
}

aside nav .nav-element .nav-button:hover {
    background-color: rgb(245, 208, 25);
}

aside nav .nav-element .nav-button:active {
    background-color: rgb(238, 200, 9);
}

aside nav .nav-element.active .active-indicator {
    background-color: var(--black);
    width: 5px;
    height: 26px;
    position: absolute;
    left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

aside nav .nav-element .nav-button h3 {
    margin-left: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

header {
    grid-area: header;
    background-color: var(--white);
    border-bottom: 1px solid rgb(228, 228, 228);
}

header #profile-info {
    display: flex;
    align-items: center;
    padding: 18px 64px;
}

header #profile-info img {
    border-radius: 100%;
}

header #profile-info #profile-name {
    margin-left: 16px;
}

header #profile-info #profile-name p:first-child {
    color: var(--grey);
    font-size: 14px;
}

header #profile-info #profile-name p:last-child {
    font-size: 20px;
    font-weight: 700;
    margin-top: 4px;
}

main {
    grid-area: main;
    overflow: auto;
}

main section.dashboard-section {
    display: none;
}

/* Home */
main section#dashboard.active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 40px 64px;
}

.w1 {
    grid-area: 1 / 1 / 2 / 2;
}
.w2 {
    grid-area: 1 / 2 / 2 / 4;
}
.w3 {
    grid-area: 2 / 1 / 3 / 3;
}
.w4 {
    grid-area: 2 / 3 / 3 / 4;
}

.widget {
    background-color: var(--white);
    border-radius: 24px;
    padding: 24px;
}

.widget .header {
    display: flex;
    align-items: center;
}

.widget .header h1 {
    color: var(--grey);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.widget#total-progress .header {
    justify-content: space-between;
}

.widget#total-progress h2 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 12px;
}

.widget#total-progress .progress {
    margin-top: 16px;
    background-color: var(--black);
    height: 12px;
    border-radius: 40px;
    left: 1px;
    position: relative;
}

.widget#total-progress .progress .bar {
    width: 30%;
    background-color: var(--primary);
    height: 100%;
    border-radius: inherit;
    position: absolute;
    left: -1px;
}

.widget#total-progress p:first-of-type {
    margin-top: 16px;
}

.widget#total-progress p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 8px;
    color: var(--grey);
}

.widget#total-progress p span {
    font-weight: 700;
    color: var(--black);
}

.widget#badges .header h1 {
    margin-left: 8px;
}

.widget#badges #user-badges {
    display: flex;
    margin-top: 12px;
}

.widget#badges .badge {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 8px;
    border-radius: 16px;
    flex-basis: 0;
    flex-grow: 1;
}

.widget#badges .badge:not(:first-of-type) {
    margin-left: 24px;
}

.widget#badges .badge img {
    width: 80px;
}

.widget#badges .badge h3 {
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    color: var(--grey);
    text-align: center;
}

.widget#completed-trainings .header h1 {
    margin-left: 8px;
}

.widget#completed-trainings #training-table-header {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.widget#completed-trainings #training-table-header h2 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    flex-grow: 1;
    flex-basis: 0;
}

.widget#completed-trainings #training-table-container {
    margin-top: 24px;
}

.widget#completed-trainings .training {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-grey);
    padding: 20px;
    border-radius: 16px;
}

.widget#completed-trainings .training.perfect {
    outline: 1px solid var(--secondary);
}

.widget#completed-trainings .training:not(:first-child) {
    margin-top: 12px;
}

.widget#completed-trainings .training p {
    flex-grow: 1;
    flex-basis: 0;
    font-weight: 500;
    color: var(--grey);
}

.widget#completed-trainings .training p:first-of-type {
    color: var(--black);
}

.widget#category-stats .header {
    justify-content: space-between;
}

.widget #category-progress-container {
    margin-top: 28px;
}

.widget .category-progress:not(:first-of-type) {
    margin-top: 24px;
}

.widget .category-progress h2 {
    font-size: 14px;
    font-weight: 500;
}

.widget .category-progress .progress {
    margin-top: 8px;
    background-color: var(--light-grey);
    height: 12px;
    border-radius: 40px;
    left: 1px;
    position: relative;
}

.widget .category-progress .progress .bar {
    width: 30%;
    background-color: var(--primary);
    height: 100%;
    border-radius: inherit;
    position: absolute;
    left: -1px;
}

/* Questions */
main section#questions.active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "cat cat cat"
        "subcat q q";
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 40px 64px;
}

main section#questions #category-select {
    grid-area: cat;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 16px;
}

main section#questions #category-select .cat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 16px 40px;
    border-radius: 14px;
    flex: 1 1 0;
    cursor: pointer;
}

main section#questions #category-select .cat-button:not(:first-of-type) {
    margin-left: 24px;
}

main section#questions #category-select .cat-button.active {
    outline: 1px solid var(--secondary);
}

main section#questions #category-select .cat-button .radio-indicator {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 100%;
    margin-right: 16px;
}

main section#questions #category-select .cat-button.active .radio-indicator {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border: 5px solid var(--secondary);
    border-radius: 100%;
    margin-right: 16px;
}

main section#questions #category-select .cat-button h2 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

main section#questions #subcategory-select {
    grid-area: subcat;
}

main section#questions .header {
    display: flex;
    align-items: center;
}

main section#questions #subcategory-select > .header h1,
main section#questions #question-container > .header h1 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-left: 12px;
}

main section#questions #subcategory-select .subcategory-container {
    margin-top: 16px;
}

main section#questions #subcategory-select .subcategory {
    background-color: var(--white);
    border-radius: 14px;
    padding: 16px 24px;
    cursor: pointer;
}

main section#questions #subcategory-select .subcategory:not(:first-of-type) {
    margin-top: 16px;
}

main section#questions #subcategory-select .subcategory h3 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--grey);
}

main section#questions #subcategory-select .subcategory h2 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 4px;
}

main section#questions #question-container {
    grid-area: q;
}

main section#questions #question-container #question-list {
    margin-top: 16px;
}

main section#questions #question-container .question {
    background-color: var(--white);
    border-radius: 14px;
    padding: 24px;
    display: flex;
}

main section#questions #question-container .question:not(:first-of-type) {
    margin-top: 16px;
}

main section#questions #question-container .question .question-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main section#questions #question-container .question .header h1 {
    font-weight: 500;
    font-size: 14px;
    color: var(--grey);
}

main section#questions #question-container .question .header .divider {
    width: 1px;
    height: 16px;
    background-color: var(--grey);
    margin: 0 24px;
}

main section#questions #question-container .question .header h2 {
    font-weight: 400;
    font-size: 14px;
    color: var(--grey);
}

main section#questions #question-container .question p {
    line-height: 150%;
    margin-top: 12px;
}

main section#questions #question-container .question .save-question-button {
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    padding: 8px 16px 7px 16px;
    margin-top: 12px;
    border-radius: 100px;
    cursor: pointer;
}

main section#questions #question-container .question.saved .save-question-button {
    background-color: var(--secondary);
}

main section#questions #question-container .question.saved .save-question-button img {
    display: block;
    background: url(../../img/icons/fill/saved.svg) no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 16px;
}

main section#questions #question-container .question .save-question-button h3 {
    font-size: 14px;
    color: var(--grey);
    font-weight: 400;
    margin-left: 8px;
}

main section#questions #question-container .question.saved .save-question-button h3 {
    color: var(--white);
}

main section#questions #question-container .question .question-image {
    object-fit: cover;
    margin-left: 24px;
    min-width: 238px;
    max-width: 238px;
    max-height: 143px;
}

main section#questions #question-container .question .question-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* Training */
main section#training.active {
    display: grid;
    grid-template-columns: 328px 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "head head head"
        "settings subcat subcat";
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 40px 64px;
}

main section#training h2 {
    grid-area: head;
}

main section#training .training-settings {
    grid-area: settings;
    background-color: var(--white);
    border-radius: 24px;
}

main section#training .training-settings h2 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

main section#training .training-settings > h2 {
    padding: 24px 24px 0 24px;
}

main section#training .training-settings .maincat-select-container {
    margin-top: 16px;
    padding: 0 24px;
}

main section#training .training-settings .maincat-select-container .maincat-item {
    background-color: var(--light-grey);
    border-radius: 14px;
    padding: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

main section#training .training-settings .maincat-select-container .maincat-item.active {
    outline: 1px solid var(--secondary);
}

main
    section#training
    .training-settings
    .maincat-select-container
    .maincat-item:not(:first-of-type) {
    margin-top: 8px;
}

main section#training .training-settings .maincat-select-container .maincat-item .radio-indicator {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 100%;
    margin-right: 16px;
}

main
    section#training
    .training-settings
    .maincat-select-container
    .maincat-item.active
    .radio-indicator {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border: 5px solid var(--secondary);
    border-radius: 100%;
    margin-right: 16px;
}

main section#training .training-settings .maincat-select-container .maincat-item h3 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

main section#training .training-settings .divider {
    height: 1px;
    background-color: var(--light-grey);
    margin: 24px 0;
}

main section#training .training-settings .question-count-container {
    padding: 0 24px;
}

/* Slider style */

main section#training .training-settings .question-count-container input {
    margin-top: 16px;
    width: 100%;
    -webkit-appearance: none;
}

main section#training .training-settings .question-count-container input:focus {
    outline: none;
}

main
    section#training
    .training-settings
    .question-count-container
    input::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
}

main section#training .training-settings .question-count-container input::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    /* box-shadow: none; */
    background: var(--secondary);
    border-radius: 10px;
    border: 0px solid #010101;
}

main section#training .training-settings .question-count-container input::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}

main section#training .training-settings .question-count-container input::-moz-range-thumb {
    box-shadow: none;
    border: 6px solid var(--black);
    height: 10px;
    width: 10px;
    border-radius: 22px;
    background: var(--white);
    cursor: pointer;
}

main section#training .training-settings .question-count-container input::-moz-focus-outer {
    border: 0;
}

/* Start Training Button */
main section#training .training-settings .start-training-button {
    margin: 0 24px 24px 24px;
    padding: 8px 10px 8px 10px;
    border-radius: 240px;
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    background: rgb(49, 203, 83);
    background: linear-gradient(-45deg, rgb(49, 203, 83) 0%, rgb(82, 233, 116) 100%);
}

main section#training .training-settings .start-training-button > :first-child {
    background-color: var(--white);
    padding: 10px;
    border-radius: 100%;
    margin-right: 30px;
}

main section#training .subcats-training {
    grid-area: subcat;
    background-color: var(--white);
    border-radius: 24px;
    padding: 24px;
}
